<div *ngIf="!(searching$ | async)">
  <div>
    <button class="w3-button w3-blue w3-section w3-margin-left" (click)="addListItem()">+ Nieuwe bundel</button>
  </div>
  <table class="w3-table w3-striped  w3-hoverable w3-border">
    <colgroup>
      <col class="title" />
      <col class="poet" />
      <col class="year" />
    </colgroup>
    <tr class="w3-teal">
      <th>Titel</th>
      <th>Dichter of samensteller</th>
      <th>Jaar van uitgave</th>
    </tr>
    <tr *ngIf="(listItems$ | async).length===0"><td colspan="3">Geen zoekresultaten</td></tr>
    <tr class="hoverable list-item-row" *ngFor="let row of listItems$ | async" (click)="editListItem(row.id)">
      <td>{{row.title ? row.title : '–'}}</td>
      <td>{{row.poet_name ? row.poet_name : '–'}}</td>
      <td>{{row.year ? row.year : '–'}}</td>
    </tr>
  </table>
</div>
<div *ngIf="searching$ | async" class="spinner w3-spin"></div>
<div *ngIf="remoteError$ | async, let remoteError" id="remote-error" class="w3-panel w3-text-red">
  <h3>Sorry</h3>
  <p *ngIf="remoteError === 1">Er is geen verbinding met de database.</p>
  <p *ngIf="remoteError && remoteError !==1">Er is een probleem met de database. Probeer een nieuwe zoekopdracht.</p>
</div>
<jr-edit [listType]="listType"></jr-edit>