<div>
  <form *ngIf="!dbError" [formGroup]="searchChildForm" (ngSubmit)="onSubmit(searchChild.value)">
    <input *ngIf='!selectedChild' class="w3-input w3-border" type="text" formControlName="query" placeholder="niet verplicht">
  </form>

  <ul *ngIf='selectedChild' class="w3-ul">
    <li class="w3-border w3-display-container selected-child" style="padding: 8px;">
      {{selectedChild.name || selectedChild.title}}<span class="w3-button w3-display-right" (click)="removeSelectedChild()">&times;</span>
    </li>
  </ul>
  <ul *ngIf='!selectedChild' class="w3-ul w3-hoverable">
    <li class="suggested-children" *ngFor="let child of suggestedChildren$ | async" (click)="selectChild(child)">{{showChild(child)}}</li>
  </ul>

  <p *ngIf="dbError" class="w3-text-red">Kan de 
    <span *ngIf="foreignKeyType==='poets'">naam van de dichter</span>
    <span *ngIf="foreignKeyType==='bundles'">titel van de bundel</span>    
  niet veranderen. Er is een probleem met de database. Klik op 'Annuleren' en probeer dan opnieuw het item te wijzigen.</p>
</div>
