<div>

  <div *ngIf="selectedChild; then child else noChild"></div>
  <ng-template #child>
    <p class="selected-child" >
      <span class="serif">{{selectedChild.name || selectedChild.title}}</span>
      <button *ngIf="!showSearch" class="w3-button w3-small w3-padding-small w3-teal w3-margin-left" (click)="removeSelectedChild()">wijzigen</button>
    </p>
  </ng-template>
  <ng-template #noChild>
    <p class="selected-child" >
      <span class="light-gray serif">niet verplicht</span>
      <button *ngIf="!showSearch" class="w3-button w3-small w3-padding-small w3-teal w3-margin-left" (click)="showSearchInput()">zoek {{foreignKeyType === 'poets' ? 'dichter' : 'bundel'}} in database</button>
    </p>
  </ng-template>  

  <div *ngIf="showSearch" class="search-container">
    <div class="search-tool">
      <form *ngIf="!dbError" [formGroup]="searchChildForm">
        <input class="w3-input w3-border" type="text" formControlName="query" placeholder="zoek...">
      </form>

      <ul *ngIf="suggestedChildren$ | async, let suggestedChildren" class="w3-ul w3-hoverable serif">
        <li *ngFor="let child of suggestedChildren" (click)="selectChild(child)">{{showChild(child)}}</li>
        <li *ngIf="suggestedChildren.length === 0">Geen {{foreignKeyType === 'poets' ? 'dichter' : 'bundel'}} gevonden</li>
      </ul>

      <p *ngIf="dbError" class="w3-text-red">Kan de 
        <span *ngIf="foreignKeyType==='poets'">naam van de dichter</span>
        <span *ngIf="foreignKeyType==='bundles'">titel van de bundel</span>    
      niet veranderen. Er is een probleem met de database. Klik op 'Annuleren' en probeer dan opnieuw het item te wijzigen.</p>
    </div>
    <div class="hide-search-button">
      <button class="w3-button w3-small w3-padding-small w3-teal w3-margin-left" (click)="hideSearchInput()">verberg</button>      
    </div>
  </div>

  <jr-alert-401 *ngIf="authError"></jr-alert-401>

</div>