<div *ngIf="listItem">
  <div class="w3-container w3-margin">

    <header class="w3-container w3-teal w3-display-container">
      <span (click)="hideForm()"
      class="w3-button w3-display-topright w3-xlarge">&times;</span>
      <h2>{{headerInfo[listType]}} {{listItem.id ? 'wijzigen' : 'toevoegen'}}</h2>
    </header>

    <div [ngSwitch]="_listType" class="w3-container w3-border-left w3-border-right w3-border-bottom">
      <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)" class="w3-container w3-padding-16">

        <div *ngSwitchCase="'poems'" class="">
          <p>
            <label>Titel</label>
            <input class="w3-input w3-border" type="text" formControlName="title">
          </p>
          <p>
            <label>Gedicht*</label>
            <textarea class="w3-input w3-border" rows=10 formControlName="text"></textarea>
          </p>
          <p>
            <label>Commentaar</label>
            <input class="w3-input w3-border" type="text" formControlName="comment">
          </p>
          <p>
            <label>Dichter</label>
            <!-- <jr-database-item [type]="'poet'" [item]="entry" (itemChange)="form.value.poet_id = $event" (suggestedItemsLengthChange)="suggestionsLength = $event"></jr-database-item> -->
          </p>
          <p>
            <label>Bundel</label>
            <!-- <jr-database-item [type]="'bundle'" [item]="entry" (itemChange)="form.value.bundle_id = $event" (suggestedItemsLengthChange)="suggestionsLength = $event"></jr-database-item> -->
          </p>
        </div>

        <div *ngSwitchCase="'poets'" class="">
          <p>
            <label>Naam*</label>
            <input class="w3-input w3-border" type="text" formControlName="name">
          </p>
          <p>
            <label>Geboortejaar</label>
            <input class="w3-input w3-border" type="number" formControlName="born">
          </p>
          <p>
            <label>Sterfjaar</label>
            <input class="w3-input w3-border" type="number" formControlName="died">
          </p>          
        </div>

        <div *ngSwitchCase="'bundles'" class="">
          <p>
            <label>Titel*</label>
            <input class="w3-input w3-border" type="text" formControlName="title">
          </p>
          <p>
            <label>Dichter (of samensteller)</label>
            <!-- <jr-database-item [type]="'poet'" [item]="entry" (itemChange)="form.value.poet_id = $event" (suggestedItemsLengthChange)="suggestionsLength = $event"></jr-database-item> -->
          </p>
          <p>
            <label>Jaar van publicatie</label>
            <input class="w3-input w3-border" type="number" formControlName="year">
          </p>
        </div>

        <div>    
          <button class="w3-button w3-blue w3-section" (click)="hideForm()">Annuleren</button>
        </div>
        <div>
          <button class="w3-button w3-blue w3-section" type="submit">Opslaan</button>
        </div>
        <div>
          <button class="w3-button w3-red w3-section" (click)="askDeleteConfirmation()">{{headerInfo[listType]}} verwijderen</button>
        </div>
      </form>
    </div>

  </div>

  <div [ngStyle]="{'display': askDeleteConfirmationDisplay }" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <h3>{{headerInfo[listType]}} verwijderen?</h3>
        <p *ngIf="listItem.title">Titel: {{listItem.title}}</p>
        <p *ngIf="listItem.name">Naam: {{listItem.name}}</p>
        <p *ngIf="listItem.text">Beginregel: {{listItem.text.split('\n')[0]}}</p>
        <button class="w3-button w3-blue w3-section" (click)="hideDeleteConfirmation()">Annuleren</button>
        <button class="w3-button w3-red w3-section" (click)="deleteListItem()">Verwijderen</button>
      </div>
    </div>
  </div>

</div>
