svg {
  fill:  white;
  display: block;
}

.all-container {
  display:  -webkit-flex;
  display: flex;
}

.svg-container {
  -webkit-align-self:  center;
  align-self: center;
  margin-right: 7px;
}

.arrow-down {
  font-size: 7px;
}

@media (max-width:600px) {
  svg {
    display: none;
  }
  .text-container {
    font-size: 13px;
  }
}
.logout-button {
  width: 100%;
}