<div *ngIf="!(searching$ | async)">
  <div>
    <button class="w3-button w3-blue w3-section w3-margin-left" (click)="addListItem()">+ Nieuwe dichter</button>
  </div>
  <table class="w3-table w3-striped  w3-hoverable w3-border">
    <colgroup>
      <col class="name" />
      <col class="born" />
      <col class="died" />
      <col class="img" />
    </colgroup>
    <tr class="w3-teal">
      <th>Dichter</th>
      <th>Geboren</th>
      <th>Gestorven</th>
      <th></th>
    </tr>
    <tr *ngIf="(listItems$ | async).length===0"><td colspan="4">Geen zoekresultaten</td></tr>
    <tr class="hoverable list-item-row" *ngFor="let row of listItems$ | async" (click)="editListItem(row.id)">
      <td>{{row.name ? row.name : '–'}}</td>
      <td>{{row.born ? row.born : '–'}}</td>
      <td>{{row.died ? row.died : '–'}}</td>
      <td class="img-cell"><img *ngIf="row.img_url" [src]="imgBaseUrl + row.img_url"></td>
    </tr>
  </table>
</div>
<div *ngIf="searching$ | async" class="spinner w3-spin"></div>
<div *ngIf="remoteError$ | async, let remoteError" id="remote-error" class="w3-panel w3-text-red">
  <h3>Sorry</h3>
  <p *ngIf="remoteError === 1">Er is geen verbinding met de database. Ververs de pagina, dat kan de verbinden herstellen.</p>
  <p *ngIf="remoteError && remoteError !==1">Er is een probleem met de database. Probeer een nieuwe zoekopdracht.</p>
</div>
<jr-edit [listType]="listType"></jr-edit>