<div class="signup-background w3-theme-l1">
</div>
<div class="signup-container w3-container w3-white">
  <h2 class="w3-center">
    Meld je aan
  </h2>
  <div *ngIf="duplicateUsername && signupForm.pristine" id="duplicate-username" class="w3-panel w3-yellow">
    <h3>Andere gebruikersnaam kiezen</h3>
    <p>De gebruikersnaam is niet meer beschikbaar. Kies een andere.</p>
  </div>
  <div *ngIf="remoteError" id="remote-error" class="w3-panel w3-text-red">
    <h3>Sorry</h3>
    <p>Er is een probleem met de database. Probeer het later opnieuw.</p>
  </div>
  <form (ngSubmit)="onSubmit(signupForm.value)" [formGroup]="signupForm">
    <div>
      <input class="w3-input w3-border w3-section" type="text" placeholder="gebruikersnaam (minimaal 4 tekens)" formControlName="username">
      <jr-show-error text="Gebruikersnaam" path="username"></jr-show-error>
    </div>
    <div>
      <input class="w3-input w3-border w3-section" type="text" placeholder="wachtwoord (minimaal 4 tekens)" formControlName="password">
      <jr-show-error text="Wachtwoord" path="password"></jr-show-error>
    </div>
    <button class="w3-button w3-blue w3-block" type="submit">Aanmelden</button>
  </form>
  <div class="w3-container w3-khaki info">
    <p>Je kunt met je account alles uitproberen: data toevoegen, wijzigen en verwijderen.</p>
    <p>Je account is 24 uur geldig. Daarna wordt het verwijderd, samen met alles wat je hebt toegevoegd of gewijzigd.</p>
    </div>
</div>
<div>
  <p class="w3-center">
    <a routerLink="/auth/login">Terug naar login</a>
  </p>
</div>