<div id="page-buttons" class="w3-padding-bottom">
  <ng-container *ngIf="showContainer">
    <button [ngStyle]="{'visibility': showPreviousButton ? 'visible' : 'hidden'}" class="w3-button w3-small w3-padding-small w3-theme w3-margin-left" (click)="previousPage()">Vorige pagina</button>
    <button id="next-page-button" [ngStyle]="{'visibility': showNextButton ? 'visible' : 'hidden'}" class="w3-button w3-small w3-padding-small w3-theme w3-margin-right" (click)="nextPage()">Volgende pagina</button>
  </ng-container>
  <button class="w3-button w3-small w3-padding-small invisible"></button>
</div>