$max-width: 1000px;

#page-buttons {
  overflow: hidden;
  padding-bottom: 16px;
  max-width: $max-width - 32px;
  margin: 0 auto;
}

#next-page-button {
  float: right;
}
button.invisible {
  visibility: hidden; // Button's purpose is to keep the height of the container div when other buttons are removed from DOM by *ngIf
}